<div class="container">
  <header>
    <img src="assets/logo_em_alta.png" alt="Di Matteo Açaí">
    <h1>Calculadora de Rentabilidade Açaí</h1>
  </header>

  <form (submit)="calculate($event)">
    <div class="mb-4">
      <label for="size-select" class="form-label">Selecione o tamanho do açaí:</label>
      <select id="size-select" class="form-select" (change)="onSizeChange($event)">
        <option value="" disabled selected>Selecione o tamanho do açaí</option>
        <option *ngFor="let size of acaiSizes" [value]="size.size">{{ size.size }}ml - {{ size.sellingPrice | currency }}</option>
      </select>
    </div>

    <div class="row">
      <div class="col-md-6 mb-6" *ngFor="let category of categories">
        <h2>{{ category }}</h2>
        <div class="input-group mb-3">
          <select class="form-select" (change)="onToppingChange($event, category)">
            <option value="" disabled selected>Selecione {{ category }}</option>
            <option *ngFor="let topping of getToppingsByCategory(category)" [value]="topping.name">
              {{ topping.name }} (Custo: {{ topping.additionalCost | currency }}, Venda: {{ topping.sellingPrice | currency }}, Retira Polpa: {{ topping.pulpReduction }}ml)
            </option>
          </select>
        </div>
      </div>
    </div>

      <div class="container">
        <div class="row">

          <div>
          <button type="submit" class="btn btn-success col-lg-6">Calcular</button>
          <button type="button" class="btn btn-warning col-lg-6"
          (click)="clearSelections()">Limpar Seleções</button>
          </div>
          <div>

            </div>

        </div>
      </div>
  </form>

  <div *ngIf="selectedToppings.length > 0" class="mt-4">
    <h3>Complementos Selecionados</h3>
    <ul class="list-group">
      <li *ngFor="let topping of selectedToppings" class="list-group-item list-group-item-info">
        {{ topping.name }} (Custo: {{ topping.additionalCost | currency }}, Venda: {{ topping.sellingPrice | currency }}, Retira Polpa: {{ topping.pulpReduction }}ml)
      </li>
    </ul>
  </div>

  <div *ngIf="totalCost !== null && profitability !== null" class="mt-4">
    <h3>Resultados</h3>
    <ul class="list-group">
      <li class="list-group-item list-group-item-light">
        Redução total de polpa: {{ totalPulpReduction }}ml
      </li>
      <li class="list-group-item list-group-item-danger">
        Custo total (incluso redução da polpa): {{ totalCost | currency }}
      </li>
      <li class="list-group-item list-group-item-info">
        Preço de venda: {{ totalSellingPrice | currency }}
      </li>
      <li class="list-group-item list-group-item-success">
        Rentabilidade: {{ profitability | currency }}
      </li>

    </ul>
  </div>
</div>
