/* Custom styles for the Acai Calculator */

body {
  background-color: #f7f7f7;
}

h1 {
  color: #601F6F;
}

.card {
  border-color: #601F6F;
}

.card-header {
  background-color: #601F6F;
  color: white;
}

.btn-primary {
  background-color: #601F6F;
  border-color: #601F6F;
}

.btn-danger {
  background-color: #d32f2f;
  border-color: #d32f2f;
}

.btn-warning{
  background-color: #FC9400;
  border-color: #FC9400;
}
